@{
    ViewData["Title"] = "Infor Page";
}

<main>
    <div id="introPage">
        <section id="intro-1">
            <div class="intro-1">
                <div class="intro-1__title">
                    <h2>Công ty TNHH PM 181</h2>
                </div>
                <div class="intro-1__wrapper">
                    <div class="container">
                        <div class="content">
                            <div class="content__title">
                                <h3>Giới thiệu</h3>
                            </div>
                            <div class="content__desc">
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi.Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt, Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt </p>
                            </div>
                            <div class="content__img"> <img src="~/user/assets/images/page/intro/intro-img.png" alt="intro-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="intro-2">
            <div class="intro-2">
                <div class="intro-2__Wrapper">
                    <div class="container">
                        <div class="content">
                            <div class="content__title">
                                <h3> Về website www.noithatdogoPM181.vn </h3>
                            </div>
                            <div class="content__desc">
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi.Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt, Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt , Sed Diam Nonummy Nibh Euismod Tincidunt </p>
                            </div>
                            <div class="content__img">
                                <div class="content__img--left"> <img src="~/user/assets/images/page/intro/Image 5.png" alt="intro-2"></div>
                                <div class="content__img--right"><img src="~/user/assets/images/page/intro/Image 6.png" alt="intro-2-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="intro-3">
            <div class="intro-3">
                <div class="intro-3__wrapper">
                    <div class="container">
                        <div class="content__section">
                            <div class="content column-8 column-7-tm column-12-mx">
                                <div class="content__header">
                                    <p>thông tin liên hệ</p>
                                </div>
                                <div class="content__items">
                                    <div class="content__items--title">
                                        <p>Trụ sở chính tại TP.HCM</p>
                                    </div>
                                    <div class="content__items--decs">
                                        <p>Địa chỉ: 93 Cao Thắng ,Quận 3, TP HCM</p>
                                        <p>ĐT: 028 3939 6868  |  0903 939 999 </p>
                                    </div>
                                </div>
                                <div class="content__items">
                                    <div class="content__items--title">
                                        <p>Trụ sở chính tại TP.HCM</p>
                                    </div>
                                    <div class="content__items--decs">
                                        <p>Địa chỉ: 93 Cao Thắng ,Quận 3, TP HCM</p>
                                        <p>ĐT: 028 3939 6868  |  0903 939 999 </p>
                                    </div>
                                </div>
                                <div class="content__items">
                                    <div class="content__items--title">
                                        <p>Trụ sở chính tại TP.HCM</p>
                                    </div>
                                    <div class="content__items--decs">
                                        <p>Địa chỉ: 93 Cao Thắng ,Quận 3, TP HCM</p>
                                        <p>ĐT: 028 3939 6868  |  0903 939 999 </p>
                                    </div>
                                </div>
                                <div class="content__items">
                                    <div class="content__items--decs">
                                        <p>Website: testo.vn * NHPM181.com </p>
                                        <p>Cám ơn quý khách đã quan tâm đến sản phẩm của chúng tôi !</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content__form column-4 column-5-tm column-12-mx"><img src="~/user/assets/images/page/intro/ba75-6.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
