@model DoAn.Models.Article
@{
    ViewData["Title"] = "News Page";
}
@await Component.InvokeAsync("Banner")s
<main>
    <div id="newsInforPage">
        <section id="news-infor-1__wrapper">
            <div class="container">
                <div class="equipment-service">
                </div>
                <div class="news-infor product">
                    <div class="news-infor__title">
                        <p>News</p>
                    </div>
                    <div class="news-infor__section">
                        <div class="news-infor__infor column-7">
                            <p class="news-infor__infor--title">Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh </p>
                            <p class="news-infor__infor--decs">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi.Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy NibhLorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi.Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Diam Nonummy Nibh Euismod Tincidunt </p>
                            <div class="news-infor__infor--image"><img src="~/user/assets/images/page/news-infor/pds-img-product-2.png" alt=""></div>
                            <p class="news-infor__infor--title"> Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh </p>
                            <p class="news-infor__infor--decs">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi.Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy NibhLorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper Suscipit Lobortis Nisl Ut Aliquip Ex Ea Commodo Consequat. Duis Autem Vel Eum Iriure Dolor In Hendrerit In Vulputate Velit Esse Molestie Consequat, Vel Illum Dolore Eu Feugiat Nulla Facilisis At Vero Eros Et Accumsan Et Iusto Odio Dignissim Qui Blandit Praesent Luptatum Zzril Delenit Augue Duis Dolore Te Feugait Nulla Facilisi. Lorem Ipsum Dolor Sit Amet, Cons Ectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Diam Nonummy Nibh Euismod Tincidunt </p>
                            <div class="news-infor__infor--image"><img src="~/user/assets/images/page/news-infor/ba75-6.png" alt=""></div>
                        </div>
                        <div class="news-infor__news column-4">                       
                            <div class="news-infor__news--items">
                                <div class="items">
                                    <div class="items__image"><img src="~/user/assets/images/page/news-infor/Image3.png" alt=""></div>
                                    <div class="items__infor">
                                        <a class="items__infor--title" href="">
                                            <p>Lorem Ipsum Dolor Sit Amet, Consectetuer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-infor__news--items">
                                <div class="items">
                                    <div class="items__image"><img src="~/user/assets/images/page/news-infor/Image3.png" alt=""></div>
                                    <div class="items__infor">
                                        <a class="items__infor--title" href="">
                                            <p>Lorem Ipsum Dolor Sit Amet, Consectetuer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-infor__news--items">
                                <div class="items">
                                    <div class="items__image"><img src="~/user/assets/images/page/news-infor/Image3.png" alt=""></div>
                                    <div class="items__infor">
                                        <a class="items__infor--title" href="">
                                            <p>Lorem Ipsum Dolor Sit Amet, Consectetuer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-infor__news--items">
                                <div class="items">
                                    <div class="items__image"><img src="~/user/assets/images/page/news-infor/Image3.png" alt=""></div>
                                    <div class="items__infor">
                                        <a class="items__infor--title" href="">
                                            <p>Lorem Ipsum Dolor Sit Amet, Consectetuer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-infor__news--mobile">
                            <div class="swiper-container news-mobile">
                                <div class="swiper-wrapper">
                                    @foreach (var item in ViewBag.newsDetails)
                                    {
                                        <div class="swiper-slide">
                                            <div class="news-infor__news--mobile--items">
                                                <div class="items">
                                                    <div class="items__image"><img src="@item.Description" alt=""></div>
                                                    <div class="items__infor">
                                                        <a class="items__infor--title" href="">
                                                            <p>@item.Content</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>